<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:environment="http://www.sitecore.net/xmlconfig/environment/">
  <sitecore role:require="Standalone or ContentManagement">
    <settings>
      <setting name="Westco.Services.Infrastructure.Security.ChapTokenProvider.ChallengeDatabase" value="web"/>
      <setting name="Westco.Services.Infrastructure.Security.ChapTokenProvider.ApiUser" value="sitecore\admin"/>
    </settings>
    <pipelines>
      <initialize>
        <processor type="Westco.Services.Infrastructure.Pipelines.RegisterRoutes, Westco.Services.Infrastructure"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true" />
      </initialize>
    </pipelines>
    <services>
      <configurator type="Westco.Services.Infrastructure.Pipelines.IoC.RegisterServices, Westco.Services.Infrastructure"/>
    </services>
    <api>
      <services>
        <configuration>
          <delegatingHandlers hint="list:AddDelegatingHandler" patch:instead="delegatingHandlers">
            <delegatingHandler desc="TokenDelegatingHandler">Westco.Services.Infrastructure.Security.TokenDelegatingHandler, Westco.Services.Infrastructure</delegatingHandler>
          </delegatingHandlers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>