<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Services.Token.Authorization.Enabled">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Westco.Services.Infrastructure.ChapTokenProvider.SharedSecret" value="cpfwrKUUcefNam36zwZQpmjk2342342342342432342fsgfsgd"/>
      <setting name="Westco.Services.Infrastructure.ChapTokenProvider.ChallengeDatabase" value="web"/>
    </settings>
    <pipelines>
      <initialize>
        <processor type="Westco.Services.Infrastructure.Pipelines.RegisterRoutes, Westco.Services.Infrastructure"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>
    <services>
      <configurator type="Westco.Services.Infrastructure.RegisterServices, Westco.Services.Infrastructure"/>
    </services>
    <api>
      <services>
        <configuration>
          <delegatingHandlers hint="list:AddDelegatingHandler">
            <delegatingHandler desc="Westco.Services.Infrastructure.Security.ChapTokenDelegatingHandler">Westco.Services.Infrastructure.Security.TokenDelegatingHandler, Westco.Services.Infrastructure</delegatingHandler>
          </delegatingHandlers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>